hypr/.config/hypr/monitors.conf
hypr/.config/hypr/workspaces.conf
zsh/.config/zsh/.zcompdump
zsh/.config/zsh/plugins
yazi/.config/yazi/flavors
tmux/.config/tmux/plugins
sucklesscolors/.config/sucklesscolors/current
