@define-color gray-light #b3b3b3;
@define-color blue-dark #005577;
@define-color red-critical #f53c3c;
@define-color red-urgent #eb4d4b;

@define-color bg    #000000;
@define-color fg    #b3b3b3;
@define-color fgd   #64727d;
@define-color red   #f7768e;
@define-color grn   #9ece6a;
@define-color ylw   #e0af68;
@define-color blu   #7aa2f7;
@define-color mag   #ad8ee6;
@define-color cyn   #0db9d7;
@define-color brblk #444b6a;

* {
    font-family: Hack, FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-weight: bold;
    min-height: 0; /* Prevent modules from expanding */
}

#waybar {
    background-color: @bg;
    color: @fg;
    padding: 0; /* No padding */
    margin: 0; /* No margin */
}

window#waybar {
    background-color: @bg;
    color: @fg;
}

window#waybar.hidden {
    opacity: 0.2;
}

button {
    box-shadow: none;
    border: none;
    border-radius: 0;
}

button:hover {
    background: none;
}

#pulseaudio:hover {
    background-color: @fg;
    color: @bg;
}

#workspaces button {
    padding: 0 2px;
    color: @fgd;
    background: transparent;
    min-height: 0;
}
#workspaces button.active {
    background-color: @bg;
    color: @fg;
}
#workspaces button.empty {
    color: @fgd;
}
#workspaces button.empty.active {
    color: @fg;
}
#workspaces button:hover {
    background-color: @bg;
    color: @fg;
    transition: color 0.2s ease;  /* Optional: Smooth transition effect */
}

#clock,
#custom-sep,
#battery,
#cpu,
#memory,
#disk,
#network,
#pulseaudio,
#wireplumber,
#tray,
#custom-pacman,
#window,
#workspaces {
    padding: 0 2px; /* Only horizontal padding */
    margin: 0; /* No vertical margins */
    min-height: 0; /* Prevent expansion */
}

.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#clock {
    color: @fg;
}

#battery {
    color: @fg;
}

#disk {
    color: @ylw;
}

#memory {
    color: @mag;
}

#cpu {
    color: @grn;
}

#network {
    color: @blu;
}

#custom-pacman{
    background-color: @bg;
    color: @fgd;
}

#custom-pacman:hover {
    background-color: @fg;
    color: @bg;
}

@keyframes blink {
    to {
        background-color: @bg;
        color: @red;
    }
}

#battery.critical:not(.charging) {
    background-color: @red-critical;
    color: @fg;
    animation-name: blink;
    animation-duration: 0.2s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#battery.charging {
    color: @fg;
    /* animation-name: blink; */
    /* animation-duration: 0.2s; */
    /* animation-timing-function: steps(12); */
    /* animation-iteration-count: infinite; */
    /* animation-direction: alternate; */
}

label:focus {
    background-color: #000000;
}

#cpu,
#memory,
#disk,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#tray {
    background-color: @bg;
    color: @fg;
}

#pulseaudio.muted {
    background-color: @bg;
    color: @fgd;
}

#wireplumber.muted {
    background-color: @red-critical;
    color: @fg;
}

#network.disconnected {
    background-color: @red-critical;
    color: @fg;
}

#network:hover {
    background-color: @blue-dark;
    color: @fg;
}

#tray {
    background-color: @bg;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: @red-urgent;
}

#keyboard-state > label {
    padding: 0 2px;
}

#keyboard-state > label.locked {
    background: rgba(0, 0, 0, 0.2);
}

#privacy {
    padding: 0;
}

#privacy-item {
    padding: 0 2px;
    color: @gray-light;
}

#privacy-item.screenshare {
    background-color: #cf5700;
}

#privacy-item.audio-in {
    background-color: #1ca000;
}

#privacy-item.audio-out {
    background-color: #0069d4;
}

#custom-spacer {
    padding: 0 4px;
    color: @fg;
}
